{% extends 'ninja/base.html' %}
{% block title %}Pivot Report{%endblock%}
{% load static %}
{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Pivot Report</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'ninja:home' %}">Home</a></li>
              <li class="breadcrumb-item active">Pivot Report</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container">
        <div class="row mb-2">
          <div class="col-12 card">
            <div class="card-header">
              <h1 class="card-title">List of Pivot Reports</h1>
                <Div id="allbutton">
                  <button class="btn btn-sm btn-danger ml-2 font-weight-bold" onClick="window.location.reload();" title="Click here to Reload the Page.">
                    Reload
                  </button>

                  <button  style=" color: white; background-color: #e99a23; border-color: #696969; "  type="button" id="save" value="Save"  class="btn btn-sm ml-10"> 
                    Save 
                  </button> 
  
                  <button style=" color: white; background-color: #1578b9; border-color: #696969; "  type="submit" value="CSV"  id="etc"  class="btn btn-sm ml-10" onclick="tableToCSV()"> 
                    Download as CSV 
                  </button> 

                  <button  style=" color: white; background-color: #10dbb9; border-color: #696969; "  type="submit" value="PDF"  id="etp" class="btn btn-sm ml-10"> 
                    Download as PDF 
                  </button> 

                  <button  style=" color: white; background-color: #850bf8; border-color: #696969; "  type="submit" value="EXCEL" id="ete" class="btn btn-sm ml-10"> 
                    Download as EXCEL 
                  </button> 

                  <button  style=" color: white; background-color: #3b0aec; border-color: #696969; "  type="submit" value="TEXT" id="ett"  class="btn btn-sm ml-10"> 
                    Download as TEXT 
                  </button> 
                  
                </Div>
             
            </div>
            <div class="card-body">
              <div class="col-md-12">

                {% if messages %}
                <div class="row">
                  <div class="col-md-12">
                    {% for message in messages %}
                    <div class="alert alert-{% if message.tags %}{{ message.tags }} {% endif %}" role="alert">
                      <p class="mb-0 text-center">{{ message }}</p>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                {% endif %}


                <div class="table table-responsive" id="all_data">
                  <table id="table_data">
                    
                    <!-- Content start -->
      
                      {{ results | safe }}
      
      
                    <!-- Content end -->

                  </table>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.content -->
</div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/"
    crossorigin="anonymous"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script><!-- html2canvas 1.0.0-alpha.11 or higher version is needed -->
<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
<script src="{% static 'custom/preport.js' %}"></script>
{% endblock %}
